* {
    box-sizing: border-box;
}
.room__shadow {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.4);
    width: 25vw;
    padding: 0;
    margin: 2rem;
    border-radius: 4px;
    transition: box-shadow 1s;
    display: inline-block;
}
.room__shadow:hover {
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
}

.room {
    text-align: center;
    width: 100%;
    border-radius: 3rem;
}

.room__temp__title,
.room__temp__value,
.room__temp__unit {
    display: block;
    float: right;
    padding: 0rem 1rem;
    font-size: 1.25rem;
}

.room__temp .card-body{
    padding: 0;
}

.room__temp__title {
    font-weight: bold;
    float: left;
}

.room__temp__value {
    padding-right: 0.5rem;
}

.room__temp__unit {
    padding: 0rem 0.5rem;
    font-size: 1.25rem;
    color: lightblue;
}

.room__button {
    margin: 1rem 5rem;
}
.temperature__text {
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}
.temp__min {
    padding-left: 0;
    padding-right: 1rem;
    margin: 0;
}
.temp__max {
    padding-right: 0;
    padding-left: 1rem;
    margin: 0;
}
.slider__container {
    margin: 0;
}
